<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.13.3">
      <projectUrl>https://github.com/osu-mist/web-api-skeleton/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/osu-mist/web-api-skeleton</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>refs/heads/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.13.3">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.gradle.Gradle plugin="gradle@1.24">
      <description></description>
      <switches></switches>
      <tasks>clean
build</tasks>
      <rootBuildScriptDir></rootBuildScriptDir>
      <buildFile></buildFile>
      <gradleName>(Default)</gradleName>
      <useWrapper>true</useWrapper>
      <makeExecutable>false</makeExecutable>
      <fromRootBuildScriptDir>true</fromRootBuildScriptDir>
      <useWorkspaceAsHome>false</useWorkspaceAsHome>
    </hudson.plugins.gradle.Gradle>
    <hudson.tasks.Shell>
      <command>#!/bin/sh
#
# environment variables to be defined:
#
# $API_HOST_NAME: hostname of api server (e.g., sub.domain.oregonstate.edu)
# $API_HOST_USER: name of api server user (e.g., janedoe)
# $API_HOST_KEY:  ssh private key (e.g., /path/to/.ssh/id_rsa)

NAME=web-api-skeleton

ARCHIVE=`find &quot;$WORKSPACE/build/libs&quot; -name &quot;$NAME-*-*-all.jar&quot;`
DIR=&quot;/apis/apis/$NAME&quot;

# TODO: copy configuration.yaml, run.sh, swagger.yaml, resource.properties, javadocs

# delete old jar files
ssh -i $API_HOST_KEY $API_HOST_USER@$API_HOST_NAME &quot;rm $DIR/*.jar&quot;

# copy new jar file
scp -i $API_HOST_KEY &quot;$ARCHIVE&quot; $API_HOST_USER@$API_HOST_NAME:$DIR

# restart application
ssh -i $API_HOST_KEY $API_HOST_USER@$API_HOST_NAME &quot;sh $DIR/run.sh&quot;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>